$primary-color: #ffb03b;
$secondary-color: black;
$background-color: #777;

@mixin title($font-size: 1.4rem, $margin-bottom: 0.25rem) {
  font-weight: bold;
  font-size: $font-size;
  margin-bottom: $margin-bottom;
  text-align: left;
}

*, :before, :after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inconsolata;

}

body {
  background: lighten($background-color, 10%);
}

a {
  &:link {
    color: $primary-color;
  }
  &:visited {
    color: $primary-color;
  }
  &:hover {
    color: $secondary-color;
  }
  &:active {
    color: $secondary-color;
  }
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border: 1px solid black;
  background: $background-color;
}

.header-parser {
  &--title {
    color: $primary-color;
    @include title(2rem, 1rem);
  }
  &__userstory {
    &--title {
      @include title();
      margin-top: 1.5rem;
    }
    &--text {
      margin-left: 1.5rem;
    }
  }
  &__exampleusage {
    &--title {
      @include title();
      margin-top: 1.5rem;
    }
    &--text {
      margin-left: 1.5rem;
    }
  }

  &__exampleoutput {
    &--title {
      @include title();
      margin-top: 1.5rem;
    }
    &--text {
      margin-left: 1.5rem;
    }
  }
}

.footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
